@page "/"

<PageTitle>Home</PageTitle>

<h1 class="home-title">Silicon administration</h1>

<div class="home-box">
    <div class="home-nav-box">
        <NavLink href="/users">
            <div class="box">
                <div><i class="fa-solid fa-users-gear"></i></div>
                <div class="home-title">
                    <h3>Users</h3>
                </div>
            </div>
        </NavLink>
    </div>
    <div class="home-nav-box">
        <NavLink href="/courses">
            <div class="box">
                <div><i class="fa-solid fa-graduation-cap"></i></div>
                <div class="home-title">
                    <h3>Courses</h3>
                </div>
            </div>
        </NavLink>
    </div>
    <div class="home-nav-box">
        <NavLink href="/newsletter">
            <div class="box">
                <div><i class="fa-regular fa-newspaper"></i></div>
                <div class="home-title">
                    <h3>Newsletter</h3>
                </div>
            </div>
        </NavLink>

    </div>
</div>